
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

body{
    
  background-image: url('colorful.png');    
}

.button {
  background-color: #7ee7c0; /* Green */
  border: none;
  color: rgb(190, 245, 191);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: rgb(195, 249, 161); 
  color: black; 
  border: 5px solid #7bdcb8;
}

div.a {
  text-align: center;
}
div {background-color: green;}
div a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 15px;
  display:inline-block;
}
ul {
  display: inline;
  margin: 0;
  padding: 0;
}
ul li {display: inline-block;}
ul li:hover {background: #555;}
ul li:hover ul {display: block;}
ul li ul {
  position: absolute;
  width: 200px;
  display: none;
}
ul li ul li { 
  background: #555; 
  display: block; 
}
ul li ul li a {display:block !important;} 
ul li ul li:hover {background: #666;}