
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

body{
    
  background-image: url('colorful.png');    
}

.button {
  background-color: #7ee7c0; /* Green */
  border: none;
  color: rgb(190, 245, 191);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: rgb(195, 249, 161); 
  color: black; 
  border: 2px solid #7bdcb8;
}
